$primary-font-color: #718caa;
$primary-font-color-2: #3bc19c;

$primary-border-color: rgb(26 41 74);

$primary-link-hover-color: #fff;
$primary-link-hover-bg-color: rgb(26 41 74);

$app-background-color: #011627;
